<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>SEO Auditor</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <div class="container">

        <h1>SEO Website Auditor</h1>

        <p>Analyze your website's SEO instantly.</p>

        <form

        action="/audit"

        method="POST"

        id="auditForm">

            <input
                type="text"
                name="url"
                placeholder="Enter Website URL"
                required>

            <button type="submit">
                Analyze
            </button>

        </form>

    </div>

</body>

</html>